<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>

<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <label for="name">Введите ФИО: </label>
    <input type="text" th:field="*{name}" id="name">
    <div style="color:red" th:if="*{#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <br/>
    <label for="birth_year">Введите год рождения: </label>
    <input type="text" th:field="*{birth_year}" id="birth_year">
    <div style="color:red" th:if="*{#fields.hasErrors('birth_year')}" th:errors="*{birth_year}"></div>
    <br/>
    <input type="submit" value="Создать человека"/>
</form>

</body>
</html>