<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактировать книгу</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/book/{id}(id=${book.getId()})}" th:object="${book}">
    <label for="name">Введите название книги: </label>
    <input type="text" th:field="*{name}" id="name">
    <div style="color:red" th:if="*{#fields.hasErrors()}" th:errors="*{name}"></div>
    <br/>
    <label for="author">Введите автора книги: </label>
    <input type="text" th:field="*{author}" id="author">
    <div style="color:red" th:if="*{#fields.hasErrors()}" th:errors="*{author}"></div>
    <br/>
    <label for="year">Введите год написания: </label>
    <input type="text" th:field="*{year}" id="year">
    <div style="color:red" th:if="*{#fields.hasErrors()}" th:errors="*{year}"></div>
    <br/>
    <input type="submit" value="Сохранить изменения"/>
</form>

</body>
</html>