<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск книги</title>
</head>
<body>
    <form th:method="POST" th:action="@{/book/search}">
        <label for="query">Введите поисковый запрос: </label>
        <input type="text" id="query" name="query"/>
        <br/>
        <input type="submit" value="Поиск"/>
    </form>

    <div th:if="${books}">
        <div th:if="${books.isEmpty()}">
            <span>Книг не найдено</span>
        </div>

        <div th:each="book : ${books}">
            <p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}">

            <div th:if="${book.getOwner() != null}">
                <p th:text="${'Книга сейчас у: ' + book.getOwner().getName()}"></p>
            </div>

            <div th:if="${book.getOwner() == null}">
                <span>Книга сейчас свободна!</span>
            </div>
            <hr/>
        </div>
    </div>
</body>
</html>